# Evitar copiar dependencias ya instaladas
/vendor
/node_modules

# Archivos y directorios de control de versiones
.git
.gitignore

# Archivos y directorios de documentación o configuración local
README.md
docker-compose.yml
Dockerfile
tests
